{% if credit is not null %}
    <span class="text-danger ml-auto">
        -{{ credit|number_format(2) }}
    </span>
{% else %}
    <span class="text-success ml-auto">
        +{{ debit|number_format(2) }}
    </span>
{% endif %}