{% extends 'base.html.twig' %}

{% block title %}Modifier un compte bancaire{% endblock %}

{% block body %}
    <h1>Modifier un compte bancaire</h1>

    {{ include('bank_account/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('bank_account_index') }}">Retourner à la liste</a>

    {{ include('bank_account/_delete_form.html.twig') }}
{% endblock %}
