{% extends 'base.html.twig' %}

{% block title %}Nouveau compte bancaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 class="mb-4">Ajouter un nouveau compte bancaire</h1>

            {{ include('bank_account/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
