{% extends 'base.html.twig' %}

{% block title %}Catégorisation{% endblock %}

{% block body %}
    <h1>Les catégories des transactions</h1>

    <table class="table">
        {% for categorie in categories %}
            <tr>
                <td>
                    <a class="text-body" href="#">
                    {{ include('partials/_generateLibelle.html.twig', {'libelle': categorie.libelle}) }}
                    </a>
                </td>
                <td class="d-flex">
                    {% if categorie.credit is not null %}
                        <span class="text-danger ml-auto">
                            -{{ categorie.credit }}
                        </span>
                    {% else %}
                        <span class="text-success ml-auto">
                            +{{ categorie.debit }}
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Il y a aucune transaction</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
