{% extends 'base.html.twig' %}

{% block title %}Nouvelle transaction{% endblock %}

{% block body %}
    <h1 class="mb-4">Ajouter une nouvelle transaction</h1>

    {{ include('transaction/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transaction') }}
{% endblock %}
